# CODEOWNERS
# This file ensures that any changes to the repository must be 
# reviewed and approved by the project owners.

# Default owners for everything in the repo
*               @sebashebe

# Specific protection for legal and configuration files
/LICENSE                @sebashebe
/.github/               @sebashebe
/README.md              @sebashebe
/Espectrophotometer.pdf @sebashebe
